<h1>Books</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add book</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Title</th>
            <th style="width: 30%">Publication Date</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td>{{book.title}}</td>
            <td>{{book.publication_date}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{book.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deleteBook(book.id)" class="btn btn-sm btn-danger btn-delete-book" [disabled]="book.isDeleting">
                    <span *ngIf="book.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!book.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!books">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>
